body{
	padding-right: 10px;
}

#painel{
	background-color: #2a72a8;
	width: 100%;
	height: 600px;
	position:relative;
	border-style: solid;
	border-width: 5px;
	border-color: #16517d;
	padding: 0px;
}

#player1{
	width: 25%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

#player1 p {
	width: 90%;
	margin: auto;
}

#player1 h4 {
	margin-bottom: 5px;
}

#champs{
	width: 49%;
	height: 98.4%;
	margin:auto;
	color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	background-color: #16517d;
	display: inline-block;
}

#logo{
	margin-top: 40px;
	padding-bottom: 30px;
	width: 200px;
	display: inherit;
}

#smal_logo{
	margin-top: 35px;
	width: 100px;
}

#big_logo{
	margin-top: 35px;
	width: 200px;
}

#select{
	margin-top: 30px;
	width: 400px;
	display: inherit;
}

#select1{
	margin-top: 40px;
	width: 400px;
	margin-bottom: 30px;
	display: inherit;
}

#enter{
	margin-top: 30px;
	width: 300px;
}

#nivel{
	margin-top: 0px;
	width: 200px;
}

#board{
	margin-top:35px;
	margin-bottom:35px;
	width: 50%;
	height: 150px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	background-color: #16517d;
}

#icon{
	width: 46px;
	height: 46px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
#icon:focus{
	border-color: #e7ec85;
}
#icon:disabled{
	border-color: red;
}

#title_champ{
	font-size: 35px;
	color: #f4912a;
	text-shadow: #7A7A7A 4px 3px 0;
	text-transform: uppercase;
}

#btn_inicio{
	background:    #e69138;
	background:    -webkit-linear-gradient(#e69138, #e69138);
	background:    linear-gradient(#e69138, #e69138);
	border-radius: 1000px;
	box-shadow:    0 5px #444444;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 400 25px/1 "Zenhei", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
}

#btn_select0, #btn_select1{
	background:    #e69138;
	background:    -webkit-linear-gradient(#e69138, #e69138);
	background:    linear-gradient(#329e21, #1a841a);
	border-radius: 1000px;
	box-shadow:    0 5px #444444;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 400 25px/1 "Zenhei", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
	display:       block;
	margin-top:    15px;
}

#btn_select0:hover, #btn_select0:focus{
	background:    linear-gradient(#58ce45, #1a841a);
}

#btn_select1:hover, #btn_select1:focus{
	background:    linear-gradient(#58ce45, #1a841a);
}

.btn_nivel{
	background:    #e69138;
	background:    -webkit-linear-gradient(#e69138, #e69138);
	background:    linear-gradient(#7d7d7d, #7d7d7d);
	border-radius: 1000px;
	box-shadow:    0 5px #444444;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 400 25px/1 "Zenhei", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
	margin-top:    30px;
}

.btn_nivel:hover, .btn_nivel:focus{
	background:    linear-gradient(#a6a6a6, #a6a6a6);
}

#player2{
	width: 24.5%;
	height: 100%;
	/* position: absolute; */
	top:0;
	float: right;
	/*margin-left: 755px;*/
}

#player2 p {
	width: 90%;
	margin: auto;
}

#player2 h4 {
	margin-bottom: 5px;
}





/* =================== TESTE =================== */
.name {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.name .extra {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.name .extra::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.name:hover .extra {
    visibility: visible;
}

/*
 *  STYLE 3
 */

#player1::-webkit-scrollbar-track
{
	background-color: #2a72a8;
}

#player1::-webkit-scrollbar
{
	width: 7px;
	background-color: #2a72a8;
}

#player1::-webkit-scrollbar-thumb
{
	background-color: #16517d;
}

.bar_back{
	margin:auto;
	margin-top: -10px;
	color:#000;
	background-color:#f1f1f1;
	border-radius:10px;
	width: 80%;
	margin-bottom: 15px;
}

.bar_red{
	padding:0.01em 16px;
	color:#fff;
	background-color:#F32121;
	border-radius:10px;
}

.bar_blue{
	padding:0.01em 16px;
	color:#fff;
	background-color:#2196F3;
	border-radius:10px;
}